<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
      <form (ngSubmit)="doLogin()">
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" [(ngModel)]="loginData.username" class="form-control" name="username"/>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" [(ngModel)]="loginData.password" class="form-control"  name="password"/>
          </div>
          <div class="form-group">
              <button class="btn btn-primary">
                  Login
              </button>
          </div>
      </form>
  </div>
</div>