.auth form .form-group label {
    font-size: 13px !important;
}

hr {    
    width: 131% !important;
    margin: -29px 0px 7px -48px !important;
}

.auth .auth-form-light{
    background-color: #fff;
    border-radius:1rem;
}

.form-control {
    border: 1px solid #1b1c1c45;
}

.form-group {
    margin-bottom: 14px !important;
}

.invalid-feedback {
    position: unset !important;
    margin: 5px 9px 3px 15px !important;
}

.font-w-400{
    color: #004C84 !important;
    font-size: 13px;
    margin-left: -13px;
}

.mt-3{
    margin-top: 2px !important;
}


hr{
    width: 135% !important;
    margin: 5px -48px !important;
}